:root {
    --border-radius: 5px;
    --gap: 10px;
    --padding-one: 1rem;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

header {
    background-color: rgb(163, 226, 205);
    padding: var(--padding-one);
}

.body-container {
    display: flex;
    flex-direction: column;
}

.projects-container {
    flex: 1;
    background-color: rgb(166, 166, 139);
    padding: var(--padding-one);
}

h2 {
    margin-bottom: var(--gap);
}

.add-button {
    display: flex;
    gap: var(--gap);
    align-items: center;
}

.projects-container .add-button {
    margin-bottom: var(--padding-one);
}

button {
    background-color: rgb(163, 226, 205);
    border: 1px solid rgb(113, 113, 162);
}

.icon-group {
    display: flex;
    gap: var(--gap);
}

.test:last-child {
    margin-bottom: 0;
}

main {
    flex: 3;
    background-color: rgb(193, 193, 137);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-one);
}

.add-todo {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--gap);
    background-color: rgb(218, 157, 157);
    padding: var(--padding-one);
    border-radius: var(--border-radius);
}

.add-todo h2 {
    margin-bottom: 0;
}

.modal {
    display: flex;
    flex-direction: column;
    padding: var(--padding-one);
    position: absolute;
    width: 80%;
    right: 10%;
    top: 20%;
    background-color: rgb(131, 116, 116);
    border: 3px solid rgb(71, 71, 92);
    border-radius: var(--border-radius);
    z-index: 2;
}

.modal button {
    margin-top: var(--padding-one);
}

.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.featured-list-container {
    width: 100%;
    background-color: rgb(113, 113, 162);
    padding: var(--padding-one);
    border-radius: var(--border-radius);
}

.todo-item, .project-item {
    border: 1px solid black;
    border-radius: var(--border-radius);
    margin-bottom: .5rem;
    padding: 5px;
    display: flex;
    background-color: blanchedalmond;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 600px) {
    .body-container {
        flex-direction: row;
    }
}