:root {
    --border-radius: 5px;
    --gap: 10px;
    --padding-one: 1rem;
}

body {
    max-width: 1200px;
    height: 100vh;
    background-color: rgb(163, 226, 205);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

header {
    background-color: rgb(163, 226, 205);
    padding: var(--padding-one);
}

.body-container {
    display: flex;
    flex-direction: column;
}

.projects-container {
    flex: 1;
    background-color: rgb(166, 166, 139);
    padding: var(--padding-one);
}

h2 {
    margin-bottom: var(--gap);
}

.add-container {
    display: flex;
    gap: var(--gap);
    align-items: center;
}

.projects-container .add-container {
    margin-bottom: var(--padding-one);
}

button {
    background-color: rgb(163, 226, 205);
    border: 1px solid rgb(113, 113, 162);
}

.checked {
    display: flex;
    gap: var(--gap);
}

.strike {
    text-decoration: line-through;
}

.icon-group {
    display: flex;
    gap: var(--gap);
}

main {
    flex: 3;
    background-color: rgb(193, 193, 137);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-one);
}

.main-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--gap);
    background-color: rgb(218, 157, 157);
    padding: var(--padding-one);
    border-radius: var(--border-radius);
}

.main-container h2 {
    margin-bottom: 0;
}

.expand, .delete {
    padding: 2px;
}

.modal {
    padding: 2rem;
    position: absolute;
    width: 80%;
    right: 10%;
    top: 20%;
    background-color: rgb(131, 116, 116);
    color: blanchedalmond;
    border: 3px solid rgb(71, 71, 92);
    border-radius: var(--border-radius);
    z-index: 2;
}

form {
    display: flex;
    flex-direction: column;
}

.form-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal button {
    margin-top: var(--padding-one);
    max-width: 40%;
}

.error {
    border: 3px solid rgb(161, 21, 5);
  }

.error-mess {
    background-color: rgb(161, 21, 5);
    margin-top: var(--padding-one);
    padding: 5px;
}

.low {
    color: rgb(128, 226, 156);
}

.medium {
    color: orange;
    }

.high {
    color: rgb(161, 21, 5);
    }

.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.main-list-container {
    width: 100%;
    background-color: rgb(113, 113, 162);
    padding: var(--padding-one);
    border-radius: var(--border-radius);
}

.todo-item, .project-item, .proj-todo {
    border: 1px solid black;
    border-radius: var(--border-radius);
    margin-bottom: .5rem;
    padding: 5px;
    display: flex;
    background-color: blanchedalmond;
    justify-content: space-between;
    align-items: center;
}

.proj-todo {
    color: black;
    max-width: 15rem;
}

@media (min-width: 600px) {
    .body-container {
        flex-direction: row;
    }
}

@media (max-width: 400px) {
    .form-buttons {
        flex-direction: column;
    }
}